.modal-dialog{
    top: 20%;
}

.weekLabel{
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
}

.duration{
    text-align: center;
}

#tboard {

}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

#tboard tr td:nth-child(1){
    width:10%;
}

#tboard tr td:nth-child(2){
    width:10%;
}

#tboard tr th:nth-child(3){
    text-align:left;
}

#tboard tr td:nth-child(3){
    width:30%;
    text-align:left;
}

.memo{
    max-height: 60px;
    overflow: auto;
}

#tboard tr td:nth-child(n+4){
    width:6%;
}

#tboard tr td:nth-child(11){
    width:2%;
}

.dirty{
    border: solid 1px red;
}

.emptyBox{
    text-align: center;
    margin-top: 50px;
}

table.table.table-striped tr.totalRow {
    background-color: #9acfea;
    font-weight: bold;
}

#critical_alert h4 {
    color: #D20000;
    font-size: 38px;
    font-weight: 200;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: capitalize;
}

#critical_alert p {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#critical_alert h2 {
    color: #343434;
    font-size: 13px;
    font-weight: 700;
    margin-left: 12px;
}

#critical_alert textarea {
    background-color: #F4F4F4;
    color: #7D7D7D;
    padding: 2px;
    resize: none;
    margin-left: 10px;
    width: 95%
}

#critical_alert .modal-footer .details {
    width: 80px;
    float: left;
}

#critical_alert .modal-footer {
    background-color: #FFFFFF;
    border-top: 0 none;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
    padding: 14px 15px 15px;
    text-align: right;
}

#critical_alert .reload {
    float: right;
    margin-top: -10px;
}

#critical_alert .modal-footer.view-details {
    display: none;
    text-align: left;
}

.loadingBox {
    margin-top: 25px;
    font-size: 16px;
    color: #337ab7;
}