.modal-dialog{
    top: 20%;
}

.weekLabel{
    font-size: 15px;
    font-weight: 600;
}

.duration{
    text-align: center;
}

#tboard {

}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}